body {
    margin: 0;
    overflow: hidden;
    color: #fff;
    font-family: "Roboto", sans-serif;
    background: #212121;
    text-align: center;

    >a>#bg {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        display: display;
        height: 100vh;
        z-index: 99;
    }

    >#bgbg {
        display: none;
    }

    &.fancyBlur>#bgbg {
        position: fixed;
        left: 50%;
        transform: translateX(-50%) scale(1.1);
        display: block;
        height: 100vh;
        filter: blur(25px);
    }

    >#freakContainer {
        bottom: 0;
        right: 0;
        margin: 8px;
        position: fixed;
        z-index: 999;
        transition: 0.1s;
        opacity: 0.5;
        &:hover {
            transition: 0.1s;
            opacity: 1;
        }

        p {
            font-style: italic;
            opacity: 0.5;
            user-select: none;
        }
        #freakometer {
            padding: 4px;
            border-radius: 5px;
            color: #212121;
            background: #ffb300;
            display: block;
            outline: none;
            border: none;
            width: 256px;
            height: 26px;
            &:hover {
                background: #ffdd33;
            }
        }

        #freakSpeak {
            right: 0;
            padding: 4px;
            border-radius: 5px;
            color: #212121;
            background: #ffb300;
            display: block;
            outline: none;
            border: none;
            width: 248px;
            height: 256px;
            margin-top: 8px;
            resize: none;
            &:hover {
                background: #ffdd33;
            }
        }

        #freakSubmitter {
            padding: 4px;
            border-radius: 5px;
            color: #212121;
            background: #ffb300;
            display: block;
            outline: none;
            border: none;
            width: 256px;
            height: 26px;
            margin-top: 8px;
            cursor: pointer;
            &:hover {
                background: #ffdd33;
            }
        }
    }
}